@using GameStore.Web.App_LocalResources
@model GameStore.Web.Models.RegisterUserViewModel

@{
    ViewBag.Title = GlobalRes.Register;
}

<h2>@GlobalRes.Register</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model=>model.RedirectUrl)
    
    <fieldset>
        <legend>@GlobalRes.Register</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RepeatPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RepeatPassword)
            @Html.ValidationMessageFor(model => model.RepeatPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="@GlobalRes.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(GlobalRes.GoToMain, "Index", new {controller = "Game"})
</div>
