@using GameStore.Web.App_LocalResources
@model GameStore.Web.Models.GameViewModel

@{
    ViewBag.Title = GlobalRes.Delete;
}

<h2>@GlobalRes.Delete</h2>

<h3>@GlobalRes.AreYouSureToDelete</h3>
<fieldset>
    <legend>@GlobalRes.Game</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Key)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Key)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UnitsInStock)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitsInStock)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Discontinued)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discontinued)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PublishedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublishedDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CreationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ViewedCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ViewedCount)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PublisherName)
    </div>
    <div class="display-field">
        @if (Model.PublisherName == "unknown")
        {
            @Model.PublisherName
        }
        else
        {
            @Html.ActionLink(Model.PublisherName, "Details", new { controller = "Publisher", companyName = Model.PublisherName })
        }
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Genres)
    </div>
    <div class="display-field">
        @string.Join(", ", Model.Genres)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PlatformTypes)
    </div>
    <div class="display-field">
        @string.Join(", ", Model.PlatformTypes)
    </div>

</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <p>
        <input type="submit" value="@GlobalRes.Delete" /> |
        @Html.ActionLink(GlobalRes.BackToList, "Index")
    </p>
}
